*{
  font-family: 'Montserrat', Helvetica, sans-serif;
  margin:0;
}
header{
  height:70px;
  width:100%;
}

.header-left{
  float:left;
  margin-left:70px;
}
.header-right{
  float:right;
  margin-top: 15px;
}
.header-right ul{
 display: inline-block;
 list-style: none;
 margin-right:80px;
 display:flex;
}
.header-right li{
  margin-right: 20px;
}
.header-right li:hover{
  border-bottom: 1px solid #000;
}
header a{
  text-decoration:none;
  color:black;
}
.img{
 position: relative;
}
.img-coment{
  text-align: center;
  position: absolute;
  bottom:150px;
  color:white;
  font-size:45px;
  font-weight: bold;
  width:100%;
}
.img-only{
  filter:brightness(60%);
}
.service{
  margin: 0 auto;
  width:300px;
  text-align: center;
}
.img-mobile{
  width:120px;
  height:120px;
  box-shadow:0 0 0 9px rgb(204, 204, 204);
  border-radius:50% ;
  margin-top:30px;
}
.img-mobile:hover{
  box-shadow:0 0 0 9px rgb(241, 70, 70);
}
.service h1{
  font-size:40px;
  margin-top:80px;
  margin-bottom: 0;
}
.teikyo{
  margin-top: 0;
}
.service span{
  border-bottom:solid 2px red;
}
.mobile{
  margin:0 auto;
  width:150px;
}
.mobile h3{
  margin-top:30px;
  margin-bottom: 30px;
}
.setumei{
  margin-bottom:100px;
}
.sky{
  background-image:url("../img/sky.jpg") ;
  background-size: cover;
  height:800px;
}
.media{
 text-align: center;
 padding-top: 30px;
}
.more{
  padding-left: 200px;
}

.media a{
  color:black;
}
.media a:hover{
  text-decoration: none;
}
.toiawase{
  background-color:rgba(0,0,0,0.5);
  height: 500px;
  margin-top: 30px;
  position: relative;
  }
.promotion{
  position: absolute;
  top:50%;
  left:55%;
  transform: translate(-50%, -50%);
  color:white;
}
.partner p{
  margin-bottom: 0;
}
.promotion h1{
  padding-left: 65px;
}
.form-name{
  position: absolute;
  top:50%;
  left:55%;
  transform: translate(-50%, -50%);
}